* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-top: 30px;
    padding: 2px;
    li {
        display: inline;
        padding: 20px;
        border: 2px solid black;
        margin-left: 3px;

    }
}

main {
    
    .meusprojetos {
        padding-top: 50px;
        padding-bottom: 80px;
    }
    
    
    li {
        text-decoration: none;
        display: inline;
        margin: 2px;
        padding: 50px;
        border: 2px solid black;
        

        .Projetos {
            margin-top: 20px;
            display: inline;
        }
        
    }

    .sobre {
        margin-top: 70px;
    }
}