* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 1px;
    
    li {
        display: inline-block;
        width: 100px;
        height: 40px;
        border: 2px solid black;
        text-align: center;
        
        a {
          color: blue;  
        }
    }
}

main {
    
    h2 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    
    section {
        text-decoration: none;
        display: inline-block;
        width: 200px;
        height: 125px;
        border: 2px solid black;

        .Projetos {
            margin-top: 20px;
            display: inline;
        }
        
    }

    .sobretext {
        margin-bottom: 15px;
    }
    span {
        border: 2px solid black;
    }

    div {
        margin: 3px;
        padding-top: 20px;
        padding-bottom: 20px;
        border: 2px solid black;

    }
}