* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-top: 30px;
    padding: 2px;
    li {
        display: inline;
        padding: 20px;
        border: 2px solid black;
        margin-left: 3px;

    }
}

main {
    padding: 30px
}